.bubble {
  background-color: #0f172a;
  border-radius: 100%;
  position: absolute;
  right: 100%;
  width: max(300px, 30vw);
  height: max(300px, 30vw);
  animation: wave 2s ease-in-out infinite;
}

@keyframes wave {
  from,
  to {
    transform: translate(0%, -50%);
  }

  50% {
    transform: translate(20%, -50%);
  }
}
